.eventCard{
    padding-bottom: 0;
}

.container{
        position: relative;
    top: 100px !important;
}

.container{
  position: relative;
  top: 100px;
}
.container-fluid{
      position: relative;
  top: 100px;
}
.sidemenu{
    height: 100%;
    position: fixed;
    background: #fff;
    margin-left: -15px;
    padding: 0;
}
.descricao{
    width: 100%;
}
.fab{
    position: fixed;
    bottom: 30px;
    right: 30px;

}

.img-small{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.feed_inputs{
    text-align: left;
}

.feed_inputs md-input{
    margin-right: 10px;
}
.tipos_inputs{
    margin-top: 10px;
    text-align: left;
    padding-bottom: 10px;
}
.tipos_inputs md-radio-button{
    margin-left: 15px;
}
ng2-select{
    display: inline-flex;
}

.card{
  padding: 10px;
}
.feed{
       margin-left: 25%;
        margin-top: 50px;
}



.articles{
        margin-left: 25%;
        margin-top: 50px;
}

@media screen and (max-width: 768px) {
    .articles{
       margin-left: 0% !important;
}
    .feed{ 
       margin-left: 0% !important;
}
}   
.card_event{
    padding: 15px;
    padding-top: 0;
    height: 200px;
    overflow: hidden;
}

.img-avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.card_event .row{

    margin-bottom: 10px;    

}
.cinzento{
    color: #ccc;
}
.card_event p{
    margin: 0;
}

.card_event .header p{
   
}
.card_event i{
    margin-right: 5px;
}

.card_roxo .header{
 padding: 10px;
    color:  #9340f0;
    border-bottom: 1px solid  #9340f0;
    text-transform: uppercase;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.card_roxo .disciplina{
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    background:  #9340f0;
    color: #fff;
    text-align: center;
}

.card_roxo .footer{
    color: #9340f0;
}



.card_amarelo .header{
     padding: 10px;
    color:  #FFCB2B;
    border-bottom: 1px solid  #FFCB2B;
    text-transform: uppercase;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.card_amarelo .disciplina{
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    background:   #FFCB2B;
    color: #fff;
    text-align: center;
}

.card_amarelo .footer{
    color:  #FFCB2B;
}

.body{
   color: rgba(0,0,0, 0.7);
}

.disciplina{
    margin-top: 14px;
}
md-card{
    margin: 0 auto;
}
.card_vermelho .header{
     padding: 10px;
    color:  #f53d3d;
    border-bottom: 1px solid  #f53d3d;
    text-transform: uppercase;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.card_vermelho .disciplina{
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    background:   #f53d3d;
    color: #fff;
    text-align: center;
}

.card_vermelho .footer{
    color:  #f53d3d;
}

.card_verde .header{
    padding: 10px;
    color:  #38dc5f;
    border-bottom: 1px solid  #38dc5f;
    text-transform: uppercase;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.card_verde .disciplina{
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    background:  #38dc5f;
    color: #fff;
    text-align: center;
}

.card_verde .footer{
    color: #38dc5f;
}
.card_event .footer{
    height: 25px;
        position: absolute;
    bottom: 0;
    padding: 0px 0px 5px 18px;
}


.imagem1{
    background-image: url('https://lh3.googleusercontent.com/-nv5bsmoh1qE/VE0Q4icLZ9I/AAAAAAAAMLo/W3IaMYoWj4Q/w1366-h768/image.jpg%252822%2529.png');
    background-size: cover;
    height: 150px;
    margin-top: -15px;
}

.sidemenu .content{
        top: 100px;
    position: relative;
}
.sidemenu .header{
    height: 60px;
    border-bottom: 1px solid #ccc;
    background: #eee;

}
.sidemenu .body{
    margin-left: 15px;
    margin-top: 40px;
}
.sidemenu .checkboxes li{
    margin-top: 15px;
    list-style-type: none
}
.sidemenu .body p{
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 35px;
    margin-bottom: 15px;
    margin-top: 15px;
        color: rgba(0,0,0,0.54);
}

.sidemenu h3{
    color: rgba(0,0,0,0.54);
    margin-top: 0;
    line-height: 60px;
    margin-left: 30px;
}