<div class="container-fluid">
    <div class="col-lg-2 sidemenu md-elevation-z1 hidden-xs">
        <div class="content">
            <div class="header">
                <h3><i class="fa fa-filter" aria-hidden="true" style="margin-right: 10px"></i>Filtros</h3>

            </div>
            <div class="body">


                <p> Filtragem </p>
                <ul class="checkboxes">
                    <li>
                        <md-checkbox checked="false">
                            Apenas eventos para hoje
                        </md-checkbox>
                    </li>
                    <li>
                        <md-checkbox checked="false">
                            Apenas Trabalhos de Casa
                        </md-checkbox>
                    </li>

                    <li>
                        <md-checkbox checked="false">
                            Apenas Visitas de Estudo
                        </md-checkbox>
                    </li>
                </ul>

                <p> Ordenação </p>
            </div>
        </div>
    </div>


    <div class="col-lg-8 col-xs-12 feed animated fadeInDown" *ngIf="insertMode">

        <div class="col-lg-12">




            <form [formGroup]="form" novalidate (ngSubmit)="addEvent(form.value, form.valid)">
                <md-card class="eventCard row">

                    <div class="row">


                        <div class="col-lg-12">
                            <md-input placeholder="Descrição" formControlName="desc" class="descricao"></md-input>
                        </div>
                        <span> Titulo </span>
                        <md-input placeholder="Titulo" formControlName="title"></md-input>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 feed_inputs">

                            <span> Data: </span>
                            <material-datepicker [(date)]="date" [(ngModel)]="date" [placeholder]="'Data'" formControlName="eventDate" ngDefaultControl></material-datepicker>


                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-8 tipos_inputs">
                            <md-radio-group formControlName="type">
                                <md-radio-button value="0">Trabalho de Casa</md-radio-button>
                                <md-radio-button value="1">Evento</md-radio-button>
                            </md-radio-group>
                        </div>
                        <div class="col-lg-2">
                            <button md-raised-button color="primary">Adicionar Evento</button>
                        </div>
                        <div class="col-lg-2">
                            <button md-raised-button color="primary" (click)="insertMode = false">Cancelar</button>
                        </div>
                    </div>
                </md-card>

            </form>
        </div>
    </div>

    <div *ngIf="feed == undefined">
            <md-progress-circle mode="indeterminate" color="primary"></md-progress-circle>
        </div>

    <div class="col-lg-8 col-xs-12 articles ">

        
        <div *ngFor="let article of feed | async;">
            
            <div class="col-lg-4 card col-xs-12" *ngIf="article.type == 1">
                <md-card class="card_event card_verde">

                    <div class="row header">
                        <div class="col-lg-3" style="text-align: left; margin-top:7px;">
                            <img [src]="article.photoUrl" class="img-responsive img-small" style="display:inline; margin-right: 10px;">
                        </div>
                        <div class="col-lg-6" style="text-align:left; margin-top:10px;">
                            <p>{{article.disciplina}}</p>
                            <p class="cinzento">{{article.createdBy}}</p>
                        </div>
                        <div class="col-lg-3 disciplina">
                            <p>Sumário</p>
                        </div>

                    </div>

                    <div class="row body">
                        <div class="col-lg-12" style="text-align: left">
                            <p>{{article.desc}}</p>
                        </div>
                    </div>
                    <div class="row footer">
                        <p> <i class="fa fa-calendar"></i>Entrega até {{article.eventDate | date}}</p>
                    </div>
                </md-card>
            </div>
            <div class="col-lg-4 card col-xs-12" *ngIf="article.type == 2">
                <md-card class="card_event card_roxo">

                    <div class="row header">
                        <div class="col-lg-3" style="text-align: left; margin-top:7px;">
                            <img [src]="article.photoUrl" class="img-responsive img-small" style="display:inline; margin-right: 10px;">
                        </div>
                        <div class="col-lg-6" style="text-align:left; margin-top:10px;">
                            <p>{{article.disciplina}}</p>
                            <p class="cinzento">{{article.createdBy}}</p>
                        </div>
                        <div class="col-lg-3 disciplina">
                            <p>TPC</p>
                        </div>

                    </div>

                    <div class="row body">
                        <div class="col-lg-12" style="text-align: left">
                            <p>{{article.desc}}</p>
                        </div>
                    </div>
                    <div class="row footer">
                        <p> <i class="fa fa-calendar"></i>Entrega até {{article.eventDate | date}}</p>
                    </div>
                </md-card>
            </div>
            <div class="col-lg-4 card col-xs-12" *ngIf="article.type == 3">
                <md-card class="card_event card_amarelo">

                    <div class="row header">
                        <div class="col-lg-3"  style="text-align: left; margin-top:7px;">
                            <img [src]="article.photoUrl" class="img-responsive img-small" style="display:inline; margin-right: 10px;">
                        </div>
                        <div class="col-lg-6" style="text-align:left; margin-top:10px;">
                            <p>{{article.disciplina}}</p>
                            <p class="cinzento">{{article.createdBy}}</p>
                        </div>
                        <div class="col-lg-3 disciplina">
                            <p>Evento</p>
                        </div>
                    </div>

                    <div class="row body">
                        <div class="col-lg-12" style="text-align: left">
                            <p>{{article.desc}}</p>
                        </div>
                    </div>
                    <div class="row footer">
                        <p> <i class="fa fa-calendar"></i>Entrega até {{article.eventDate | date}}</p>
                    </div>
                </md-card>
            </div>

            <div class="col-lg-4 card col-xs-12" *ngIf="article.type == 4">
                <md-card class="card_event card_vermelho">

                    <div class="row header">
                        <div class="col-lg-3" style="text-align: left; margin-top:7px;">
                            <img [src]="article.photoUrl" class="img-responsive img-small" style="display:inline; margin-right: 10px;">
                        </div>
                        <div class="col-lg-6"  style="text-align:left; margin-top:10px;">
                            <p>{{article.disciplina}}</p>
                            <p class="cinzento">{{article.createdBy}}</p>
                        </div>
                        <div class="col-lg-3 col-xs-3 disciplina">
                            <p>Aviso</p>
                        </div>
                    </div>

                    <div class="row body">
                        <div class="col-lg-12" style="text-align: left">
                            <p>{{article.desc}}</p>
                        </div>
                    </div>
                    <div class="row footer">
                        <p> <i class="fa fa-calendar"></i>Entrega até {{article.eventDate | date}}</p>
                    </div>
                </md-card>
            </div>

        </div>
    </div>

    <button md-fab class="fab" (click)="insertMode = true">
    <md-icon class="md-24">add</md-icon>
</button>
</div>