<router-outlet>
</router-outlet>
<div class="container">


      <md-card class="row ">
            <div class="col-lg-3 perfil_container">
                  <div class="row person_name md-elevation-z3">
                        <h5>{{encarregado?.firstName}} {{encarregado?.name}}</h5>
                  </div>
                  <div class="row encarregado-info">
                        <div class="col-lg-3" style="text-align:left">
<img [src]="encarregado?.photoUrl" alt="" class="img-avatar">
</div>

<div class="col-lg-9" style="text-align: left; padding-top: 10px; padding-left: 30px;">
<p>{{encarregado?.name}}</p>
<p>Encarregado de: {{encarregado?.filho}}</p>
</div>

</div>
<div class="row contacts">
      <div class="col-lg-12">
            <h4>Dados Pessoais</h4>
            <p><strong>Data de Nascimento</strong> {{encarregado?.dn | date}} </p>
            <p><strong> Genero: </strong>
                  <span *ngIf="encarregado?.genero == 0">Masculino </span>
                  <span *ngIf="encarregado?.genero == 1">Feminino </span>
            </p>
      </div>
</div>
<div class="row contacts">
      <div class="col-lg-12">
            <h4>Contactos</h4>

            <p><strong>Email:</strong> {{encarregado?.email}} </p>
            <p><strong> Telemóvel: </strong> {{encarregado?.telemovel}}</p>
      </div>
</div>

</div>

<div class="col-lg-9 chat_container" #scrollMe>
      <div *ngFor="let mensagem of chat | async">
            <div class="row" style="margin-top: 10px;">

<div *ngIf="mensagem.from == 0">

      <div class="balao" style="background: #2196F3; color: white; float: right; text-align: right"> {{mensagem?.mensagem}}
</div>

</div>
</div>
<div class="row" style="margin-top: 10px;">
<img *ngIf="mensagem.from == 1" [src]="encarregado?.photoUrl" class="img-chat">
<div *ngIf="mensagem.from == 1" class=" balao" style="background: #ECEFF1;  float:left;"> {{mensagem?.mensagem}}
</div>
</div>
</div>


</div>
<div class="row">
      <form [formGroup]="form" novalidate (ngSubmit)="enviar(form.value)">

            <div class="col-lg-8 col-lg-offset-3" style="margin-left: 30%">
<div class="col-lg-10">
      <md-input placeholder="mensagem" formControlName="texto" [(ngModel)]="texto" style="width: 100%;"></md-input>
</div>
<div class="col-lg-2">
      <button md-raised-button color="primary" type="submit" [disabled]="!form.valid">Enviar</button>
</div>
</div>
</form>
</div>
</md-card>
</div>