<div class="container">
    <div class="row encarregados ">
        <div>
            
            <div *ngFor="let professor of professores | async;">
                <div *ngIf="professor.codigo_turmas[0] == id || professor.codigo_turmas[1] == id  || professor.codigo_turmas[2] == id || professor.codigo_turmas[3] == id || professor.codigo_turmas[4] == id || professor.codigo_turmas[5] == id || professor.codigo_turmas[6] == id">
                    <div class="encarregado col-lg-3 animated fadeInUp">

                        <md-card (click)="avancar(encarregado.$key)">
                            <div class="text-center">
                                <img [src]="professor.photoUrl" class="img-circle img-responsive img-avatar ">
                            </div>
                           
                            <h4> {{professor.name}}</h4> 
                            <p style="padding-bottom: 16px"> Professor de: {{professor.disciplina}}</p>

                        </md-card>
                    </div>
                </div>
            </div>
        </div>
    </div>