<!--
<div class="container">
<div class="row">

<md-card class="login-card col-lg-9 col-lg-offset-3">

    <form [formGroup]="form" novalidate (ngSubmit)="login(form.value, form.valid)">
        <div class="col-lg-9 col-lg-offset-3">
        <md-input placeholder="Email"  formControlName="email"></md-input>

        <md-input placeholder="password" type="password" formControlName="password"></md-input>

        <p>{{this.err}}</p>
        <button md-raised-button color="primary" type="submit">Login</button>
        <button md-raised-button color="primary" type="button" (click)="registar()">Registar Novo Professor</button>
        </div>
    </form>
</md-card>
</div>


</div>

-->


<form [formGroup]="form" novalidate (ngSubmit)="login(form.value, form.valid)">
    <h3>Login</h3>
    <div class="row">

        <div class="col-lg-6">

            <md-input placeholder="Email" formControlName="email"></md-input>

            <md-input placeholder="password" type="password" formControlName="password"></md-input>

            <button md-raised-button color="primary" type="submit">Login</button>

        </div>
        <div class="col-lg-6" style="margin-top: 31px;">

            <button class="loginBtn loginBtn--facebook" (click)="loginFacebook()">
  Login com Facebook
</button>

            <button class="loginBtn loginBtn--google" (click)="loginGoogle()">
  Login com Google
</button>


        </div>
    </div>
    <div class="row">
        <button md-raised-button color="primary" type="button" (click)="registar()" style="float:right">Registar Novo Professor</button>        {{err}}
    </div>
</form>