<!--
<div class="background">
</div>

<div class="contentIn">
    <div class="row">
        <div class="col-xs-12" style="font-size: 24px;font-weight: 600;color: #15A9FC;margin-bottom: 15px;text-align: left;"> REGISTO
</div>
</div>
<div class="row">
    <form [formGroup]="form" (ngSubmit)="registar(form.value, form.valid)">
        <div class="col-xs-12">
            <md-input class="inputForm" placeholder="{{name}}" formControlName="name" required></md-input>
        </div>
        <div class="col-xs-12">
            <md-input class="inputForm" placeholder="{{email}}" formControlName="email" required></md-input>
        </div>
        <div class="col-xs-12">
            <md-input class="inputForm" placeholder="Telemóvel" minlength="9" formControlName="telemovel" required></md-input>
        </div>
        <div class="col-xs-12">
            <md-input class="inputForm" placeholder="Password" type="password" formControlName="password" required></md-input>
        </div>
        <div class="col-xs-12">
            <md-input class="inputForm" placeholder="Confirmar password" type="password" [(ngModel)]="pw_confirm" [ngModelOptions]="{standalone: true}" ></md-input>
        </div>
        <div class="col-xs-12">
            <md-input class="inputForm" placeholder="Disciplina Lecionada" type="text" formControlName="disciplina" required></md-input>
        </div>
        <div class="col-xs-12 text-right" style="margin-top: 5px;">
<button md-raised-button type="submit" color="primary" class="btnCenas" [disabled]="!form.valid">REGISTAR</button>
</div>
</form>
</div>
</div>


<div class="alertErros" style="color: #FFF" *ngIf="isVisible == true">
<strong><i class="fa fa-info-circle" style="margin-right: 12px; margin-top: -1px"></i>
</strong>{{this.err}}
</div>

-->


<div class="background">
</div>

<div class="contentIn">
    <div class="row">
        <div class="col-xs-12" style="font-size: 24px;font-weight: 600;color: #15A9FC;margin-bottom: 15px;text-align: left;"> REGISTO
</div>
</div>
<div class="row">
    <form [formGroup]="form" (ngSubmit)="registar(form.value, form.valid)">
        <div class="col-xs-12">
            <md-input class="inputForm" placeholder="{{name}}"  disabled></md-input>
        </div>
        <div class="col-xs-12">
            <md-input class="inputForm" placeholder="{{email}}"  disabled></md-input>
        </div>
        <div class="col-xs-12">
            <md-input class="inputForm" placeholder="Telemóvel" minlength="9" formControlName="telemovel" required></md-input>
        </div>
        <div class="col-xs-12">
            <md-input class="inputForm" placeholder="Disciplina Lecionada" type="text" formControlName="disciplina" required></md-input>
        </div>
        <div class="col-xs-12 text-right" style="margin-top: 5px;">
<button md-raised-button type="submit" color="primary" class="btnCenas" [disabled]="!form.valid">REGISTAR</button>
</div>
</form>
</div>
</div>


<div class="alertErros" style="color: #FFF" *ngIf="isVisible == true">
<strong><i class="fa fa-info-circle" style="margin-right: 12px; margin-top: -1px"></i>
</strong>{{this.err}}
</div>