.container{
  position: relative;
  top: 90px;
}

.encarregados{
  margin-top: 50px;
}
.encarregado{
    padding-left: 5px;
    padding-right: 5px;
}

.container{
  position: relative;
  top: 100px;
}
.container-fluid{
      position: relative;
  top: 100px;
}

.img-avatar{
    width: 125px;
    height: 125px;
    margin: 0 auto;
    margin-bottom: 5px;
    object-fit: cover;   
}

md-card{
  padding: 0;
  padding-top: 10px;
}