.background{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color:#15a9fc;
	z-index: -1;
	background-size:cover;
}

.contentIn{
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
	max-width: 600px;
	height: 430px;
	padding: 3em 2em 2em 2em;
	text-align: center;
  background-color: #FFF;
}

.inputForm{
	width: 100%;
}

.alertErros{
  margin: auto;
  position: fixed;
  background-color: #f53d3d;
  border-radius: 0px;
  width: 25%;
  padding: 15px;
  z-index: 1000000001;
  bottom: 10px;
  left: 0;
  right: 0;
}