<!-- / College Timetable -->
<div class="container" style="top: 150px">

<div class="row">
  <form [formGroup]="form" novalidate (ngSubmit)="inserir(form.value, form.valid)">
  <input type="text" formControlName="nome" >
  <span>Dia </span>
  <select formControlName="dia">
  <option value="segunda">Segunda</option>
  <option value="terca">Terça</option>
  <option value="quarta">Quarta</option>
  <option value="quinta">Quinta</option>
  <option value="sexta">Sexta</option>
</select>
  <span>Hora</span>
  <select formControlName="hora">
  <option value="0900">09:00</option>
  <option value="1000">10:00</option>
  <option value="1100">11:00</option>
  <option value="1200">12:00</option>
  <option value="1300">13:00</option>
  <option value="1400">14:00</option>
  <option value="1500">15:00</option>
  <option value="1600">16:00</option>
  <option value="1700">17:00</option>
  <option value="1800">18:00</option>
</select>
<button type="submit" class="btn btn-primary" >Inserir</button>
  </form>
</div>

<div [innerHTML]="tabela"></div>

</div>