<router-outlet>
</router-outlet>
<div class="container">
      <h1>{{aluno?.nome}}</h1>

      <div *ngFor="let mensagem of chat | async">
            <div class="row">
            <div *ngIf="mensagem.from == 0" class=" balao" style="background: #ccc; float: left; margin-top: 25px;">
                  {{mensagem?.mensagem}}
            </div>
            </div>
            <div class="row">
            <div *ngIf="mensagem.from == 1" class=" balao" style="background: #2196F3; color: white; float:right; margin-top: 25px;">
                  {{mensagem?.mensagem}}
            </div>
      </div>
      </div>

      <div>
            <md-input placeholder="mensagem" [(ngModel)]="texto">
            </md-input>
           <button md-raised-button color="primary" (click)="add()">Enviar</button>
      </div>
</div>