@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

body {
  margin: 0 !important;
  font-family: Roboto, sans-serif;
  background: #ECEFF1;
  margin-top: 80px;
}

md-card {
  margin: 1.5em auto;
  text-align: center;
}

  md-toolbar{
    position: fixed;
    z-index: 1000  }


.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

i{
  cursor: pointer;
}
.text-center{
  text-align: center;
}

.container{
  position: relative;
  top: 80px;
}

