<div>
  <md-toolbar color="primary" style="  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
    <span>Caderneta</span>
    <span class="example-fill-remaining-space"></span>
    <i class="fa fa-book" style="margin-right: 15px;" routerLinkActive="active-icon" routerLink="./turmas"></i>
    <i class="fa fa-user" style="margin-right: 15px;" routerLinkActive="active-icon" routerLink="./perfil"></i>
    <i class="fa fa-sign-out" style="margin-right: 15px;" (click)="logout()"></i>
    <img [src]="photo" class="img-thumb">

  </md-toolbar>
</div>

<router-outlet></router-outlet>